[General]
database=c:/home/projects/blister-tagv/devel/blister-tagv.install/blister-tagv.db
configurationID=REFERENCE

[Vscape]
camera=SoftSys1
avpPath=c:/home/projects/blister-tagv/devel/blister-tagv.install/avp
imagePath=c:/home/projects/blister-tagv/devel/blister-tagv.install/images
imageSave=false
imageOnlyFailed=true
globalDatums=Step.Acquire.1/Gain/Gain (x10)/double/10-0-10, Step.Acquire.1/ExpTm/Exposure Time (us)/double/1-20-5000
datumDefaults=Step.FlawTool.1/Val:MinEdgeCnt:MaxEdgeCnt/25, Step.RectWarp.1/Val:MinEdgeCnt:MaxEdgeCnt/25

[Thresholds]
NoAnswerThreshold=100
WrongIdAnswerThreshold=100
FailedThreshold=100

[PLC]
plcAddress=127.0.0.1
plcPort=2000
startAVP=true
pollingPeriod=2000
cyclePulses=4000
triggerOffset=250

[Window]
fullScreen=false
hideCursor=false

[Logging]
logEnabled=false
appendToLog=false
logPath=c:/home/projects/blister-tagv/devel/blister-tagv.install/logs
logLevel=Debug

[Switches]
ContinueOnError=true
StrobeAlwaysOn=true
